@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.bg-colour{
    background-color: #FFF8F3;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.main{
    max-width: 1000px;
    margin: 0 auto;
}
/* Header nav */

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 130px;
}
.header-title{
    font-weight: 800;
    font-size: 45px;
}
.header-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav ul li{
    list-style: none;
    margin-right: 35px;
    font-size: 20px;
}
.header-nav ul li a{
    text-decoration: none;   
    color: #474747;
}
/* Benner */
.banner{
    display: flex;
    justify-content: space-around;
    margin: 0 10px 0 100px;
}
.banner-text{
    width: 500px;
}
.banner-text-1{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-text-2{
    font-weight: bold;
    font-size: 85px;
}
.banner-para{
    font-size: 18px;
    color: #474747;
}
.banner-img{
    width:500px;
}
.banner-btn-2{
    background-color: transparent;
    padding: 10px 25px;
    color: #FD6E0A;
    border: 1.5px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 18px;
    font-size: 20px;
    font-weight: 600;
}
/* about section */
.about{
    text-align: center;
    padding: 70px 120px;
    margin: 100px 0;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-des{
    font-weight: bold;
    font-size: 20px;
}