@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.primary-color{
    color: #FD6E0A;
}
.bg-colour{
    background-color: #FFF8F3;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
/* Header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin: 30px 0;
}
.main{
    max-width: 1000px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
/* Header nav */
.nav-btn{
    display: none;
    font-size: 35px;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 130px;
}
.header-title{
    font-weight: 800;
    font-size: 45px;
}
.header-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav ul li{
    list-style: none;
    margin-right: 35px;
    font-size: 20px;
}
.header-nav ul li a{
    text-decoration: none;   
    color: #474747;
}

/* Benner */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0  10px 0 100px;
}
.banner-text{
    width: 530px;
}
.banner-text-1{
    font-weight: 600;
    font-size: 30px;
    color: #474747;
}
.banner-text-2{
    font-weight: bold;
    font-size: 65px;
}
.banner-para{
    font-size: 18px;
    color: #474747;
    margin: 30px 0;
}
.banner-img{
    width:480px;
}
.banner-btn-2{
    background-color: transparent;
    padding: 10px 25px;
    color: #FD6E0A;
    border: 1.5px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 18px;
    font-size: 20px;
    font-weight: 600;
}
.banner-btn-1 i, .banner-btn-2 i{
    padding-right:10px ;
}
/* about section */
.about{
    text-align: center;
    padding: 100px 120px;
    margin: 100px 0;
}
.about-text{
    background-color: #fff;
    padding: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-des{
    font-weight: bold;
    font-size: 20px;
}
.skill-title-2{
    padding: 0 40px;
    margin: 30px 0;
}
.skill{
    padding: 30px 25px;
    margin: 35px 0;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}
.skill-description{
    font-size: 15px;
    color: #757575;
}

/* resume-section */
.resume-section{
    margin: 100px 0;
}
.resume-container{
    margin: 100px 0;
    display: flex;
    gap: 30px;
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    margin: 30px 0;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-sub-title{
    font-weight: 600;
    color: #757575;
    font-size: 20px;
    margin: 10px 0;
}
.experience-description{
    font-size: 15px;
    color: #757575;
    margin: 20px 0;
    padding-right:50px;
}
.resume-btn{
    text-align: center;
}
.resume-column hr{
    margin: 30px 5px;
}

/* Footer */
.footer{
    margin: 0 auto;
    padding: 100px 150px;
    display: flex;
    gap: 30px;
}
.footer-column{
    width: 50%;
}
.footer-form input{
    display: block;
    margin: 25px 0;
    padding: 10px 20px;
    width: 100%;
    background-color: white;
    color: #757575;
    height: 35px;
    size: 16px;
    border-radius: 5px;
    border: none;
}
.footer-form input[type=button]{
    width: 120px;
    height: 45px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.footer textarea{
    width: 100%;
    height: 160px;
    padding: 18px 20px;
    background-color: white;
    color: #757575;
    border-radius: 5px;
    border: none;
}
.footer-description{
    margin: 30px 0;
    font-size: 15px;
}
.footer-icon a{
    margin: 0 20px;
}

/* Responsive Design */

@media screen and (max-width:576px) {
    .about, .resume-section{
        margin: 50px 0;
    }
    .nav-btn{
        display: block;
    }
    #nav-ul{
        display: none;
    }
    .header-nav{
        padding: 40px 50px;
    }
    .banner, .skills-container, .resume-container, .footer{
        flex-direction: column;
    }
    .banner{
        margin: 0  20px 0 50px;
    }
    .banner-text{
        width: calc(100% - 30px);
        margin-bottom: 30px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-btn-2{
        margin: 20px 10px;
    }
    .about{
        padding: 50px 20px;
    }
    .about-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .skill{
        margin: 15px 0;
    }
    .resume-container{
        padding: 0 20px;
    }
    .footer{
        padding: 20px;
    }
    .footer-column, .footer-form input, .footer textarea{
        width: calc(100% - 20px);
    }    

}

@media screen and (min-width:576px) and (max-width:992px){
    .about-items, .skills-container, .resume-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .header-nav{
        padding: 40px 80px;
    }
    .header-nav ul{
        justify-content: center;
    }
    .header-nav ul li{
       margin-right: 0;
       margin-left:20px;
    }
    .banner{
        flex-direction: column;
    }
    .banner{
        margin: 0 30px 0 100px;   
    }
    .banner-text{
        width: calc(100% - 30px);
        margin-bottom: 30px;
    }
    .banner-img{
        width: 100%;
    }
    .about{
        padding: 50px;
    }
    .about-items{
        gap: 30px;
    }
    .skill{
        margin: 20px 0;
    }
    .resume-container{
        padding: 0 20px;
    }
    .footer{
        padding: 20px;
        flex-direction: column;
    }
    .footer-column, .footer-form input, .footer textarea{
        width: calc(100% - 20px);
    }  

}